@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@800&display=swap');

.Landing{
    background-color:#282A36;
    color:white;
    min-height: 100vh;
}

.Banner{
    background-color: #9580FF;
    color: #282A36;
}

.Navbar{
    background-color: #282A36;
}

.Headline{
    background-color: #373A59;
}

.Headline-Title{
    color: #50FA7B;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight:800;
    font-size: 72px;
}

.Subheading{
    background-color: #282A36;
}

.Button{
    background-color: #50FA7B;
    color: #373941;
}

